@charset "utf-8";
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
-webkit-text-size-adjust: 100%;
}
body{
    background-color: #181818;
    margin:auto 0;
    padding:auto 0;
    font-family: sans-serif;
}
header{
    height:80px;
    margin: 10px 30px;
}
.nav-item{
    display: inline-block; 
}
.header-right{
    display: flex;
}
.header-right img{
    display: block;
    transition: all 0.8s ease-in-out;
}
.header-right img:hover{
    transform:rotateX(360deg);
}
.header-right ul{
    font-family: suburban, sans-serif;
    margin-left: auto;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 20px; 
    transition: all 0.5s ease-in-out;
}
.nav-item a:hover,
.NavMenu a:hover{
    color: rgba(255, 255, 255, 0.4);
}
.NavMenu{
    display: none;
}
.Toggle p{
    display:none;
}
/*-----------------------------------------------ABOUTのページ*/
.profile-wrapper{
    height: 82vh;
    display: flex;
    flex-direction: column;
}
.profile{
    text-align: center;
    margin-top: 60px;
    flex: 1;
}
.profile img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}
.profile-text{
    color: #f0f0f0;
    margin: 5px;
    opacity: 0.8;
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
}
.profile-eng {
    display: none;
    color: #f0f0f0;
    margin: 10px 5px 50px;
    opacity: 0.8;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
}
.profile-eng p {
    margin: 0;
}
.en-button:hover{
    color: rgba(255,255,255,0.5);
}
.en-button{
    color: #f0f0f0;
    font-size: 23px;
    font-family: suburban, sans-serif;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
}
.mobile-top{
    display:none;
}

footer{
    color: #fff;
    font-size: 10px;
    margin-top: auto;

}

footer p{
    font-family: sans-serif;
    text-align: center;
}

/*------------------------------------------------GARELLYのページ*/
.container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 45px 10px 0;
    height: 1340px;
    
}

.item.horizonal{
    width: 23.5%;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0;
    background-color: rgba(255,255,255,0.05);
    color: #fff;
    text-align: center;
    margin: 5px 5px;
    font-family: sans-serif;
}
.item.landscape{
    width: 23.5%;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0;
    background-color: rgba(255,255,255,0.05);
    color: #fff;
    text-align: center;
    margin: 5px 5px;
    font-family: sans-serif;
}

.image-h , .image-l{
    width: 90%;
    height: auto;
    padding-top: 10px;
}
.image-word{
    width: 90%;
    height: auto;
    padding-top: 10px;
}

.item.word{
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0;
    background-color: rgba(255,255,255,0.05);
    color: #fff;
}
.item p{
    color: #fff;
    line-height: 5px;
    text-align: left;
    padding-left: 20px;
    font-family: sans-serif;
}
.item img{
    transition: all 0.8s ease-in-out ;
}
.item img:hover{
    transform: scale(1.05);
}
.town{
    font-size:13px;
}
.place{
    font-weight: bold;
}

/*---------------------------------------------------CONTACTのページ*/
.contact{
    margin: 80px 0; 
}
.contact-mask{
    padding-bottom: 50px; 
    background-image: linear-gradient(to top, rgba(0,0,0,0), #181818 80%),
        url(../img/load.JPG);
    background-position:center ;
    background-repeat:  no-repeat;   
    background-size: cover;
}

.contact-form{
    width: 50%;
    margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0;
    background-color: rgba(255,255,255,0.05);
    color: #fff;
    font-family: sans-serif;
    font-size:16px;
    -webkit-appearance:none;
}
.contact-form textarea{
    height: 150px;
}
.contact-form input[type=submit]{
    display: block;
    width: 200px;
    margin: 40px auto 0;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    -webkit-appearance: none;
}
.contact-form input:hover,
.contact-form input:active{
    background-color: rgba(255,255,255,0.1);
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus{
    box-shadow: 0 0 8px rgba(255,255,255,0.5)inset;
}
.contact-title{
    color:#f0f0f0;
    text-align: center;
    opacity: 0.7;
    font-weight: normal;
}
p.contact-title {
    font-size: 14px;
}
.contact-text{
    color: #f0f0f0;
    font-size: 13px;
    margin-bottom: 3px;
    opacity: 0.7;
}


/*---------------------------------------------------------------------------スマホサイズ*/
@media (max-width: 767px) and (min-width: 0px)
{
    .header{
        height: 70px;
    }
    .nav-item{
        display: none;
    }
    .header-logo{
        width: 90%;
        text-align: center !important;
    }
    /*ナビメニューのスタイルを指定*/
    nav.NavMenu{
        position: fixed; 
        z-index: 2; 
        top: 0; 
        left: 0; 
        background: rgba(0,0,0,0.8);
        color: #fff; 
        font-family: suburban, sans-serif;
        text-align: center; 
        width: 100%;
        transform: translateY(-100%); 
        transition: all 0.6s; 
        display: inline-block;
        font-size: 20px;
    }
    nav.NavMenu a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
    }
    
    nav.NavMenu span{
        padding: 0 15px 23px;
        text-align: center;
    }


    nav.NavMenu ul{
        background:rgba(0,0,0,0.8); 
        width: 100%;
        margin: 0 auto;
        padding: 0;

    }

    nav.NavMenu ul li{
        font-size: 1.1em;
        list-style-type: none;
        padding: 0;
        width: 100%;
        border-bottom: 1px dotted #333;
    }

    nav.NavMenu ul li:last-child{
        padding-bottom: 0;
        border-bottom: none; 
    }

    nav.NavMenu ul li{
        display: block; 
        color: #FFF;
        padding: 1em 0;
        text-decoration: none;
    }
    
    nav.NavMenu.active{
        transform: translateY(0%);
    }
    
    .Toggle {
        display: block;
        background-color: #181818;
        border: 2px solid #f0f0f0;
        border-radius: 50%;
        color: #f0f0f0;
        position: fixed;  
        right: 13px;
        top: 22px;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 3;
    }

    .Toggle span {
        display: block;
        position: absolute;
        width: 25px;
        border-bottom: solid 3px #f0f0f0;
        -webkit-transition: .35s ease-in-out;	
        -moz-transition: .35s ease-in-out;		
        transition: .35s ease-in-out;			
        left: 8px;
    }

    .Toggle span:nth-child(1) {
        top: 9px;
    }

    .Toggle span:nth-child(2) {
        top: 18px;
    }

    .Toggle span:nth-child(3) {
        top: 27px;
    }

    .Toggle.active span:nth-child(1) {
        top: 18px;
        left: 8px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .Toggle p{
        display: block;
        font-family: suburban, sans-serif;
        font-size: 16px;
        position: fixed;
        top:-10px;
        right: 19px;
        z-index: 3;
    }
    /*-----------------------------------------------ABOUTのページ*/
    .profile-wrapper{
        height: 85vh;
    }
    .profile img{
        width: 120px;
        height: 120px;
    }
    .text-wrapper{
        margin: auto;
        font-size: 12px;
        text-align: left;
    }
.mobile-top{
    display:block;
    }

    /*---------------------------------------------GARELLYのページ*/   
    .container{
        display:block;
        height: 100%;
    }
    .item.landscape ,
    .item.horizonal{
        margin: 10px auto;
        width: 100%;
    }
    footer p{
        display:block;
        text-align: center;
    }
    
    /*----------------------------------------------CONTACTページ*/
    .contact{
        margin-top:100px;
        margin-bottom:10px;
    }
    p.contact-title {
        font-size: 12px;
    }
    .contact-form {
        width: 80%;
    }
}

/*------------------------------------------------------------------------タブレットサイズ*/
@media(max-width: 1023px) and (min-width: 768px){


    /*---------------------------------------ABOUTのページ*/
    .profile-wrapper{
        height: 90vh;
    }
    .profile{
        margin-top: 100px;
    }
    .mobile-top{
    display:none;
}
    /*-------------------------------------------GARELLY*/
    
    .container{
        max-width: 100%;
        height: 2631px;
        text-align: center;
        align-content: center;
        margin-bottom: 0;
    }
    .item.landscape ,
    .item.horizonal{
        margin: 20px;
        width: 31.5%;
    }   
}
/*-------------------------------------------CONTACT*/
.contact{
        margin-top:100px;
        margin-bottom:15px;
    }

/*----------------------------------------------ローディング画面*/
#loader-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #f0f0f0;
    z-index: 100;
}
#loading{
    position: relative;
    width: 100%;
    height: 100%;
}

#loading object{
    position: absolute;
    width: 100%;
    max-width: 548px;
    max-height: 164px;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    margin-top: -82px;
}

