@charset "utf-8";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    /*iPhoneのSafariでで横向きにした際に一部文字が拡大されてしまうため*/
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


header {
    height: 80px;
    padding: 10px 30px 0;
    margin-bottom: 18px;
}

.nav-item {
    display: inline-block;
}

.header-right {
    display: flex;
}

.header-right ul {
    display: inline-block;
    font-family: suburban, sans-serif;
    margin-left: auto;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 20px;
    transition: all 0.5s ease-in-out;
}

.nav-item a:hover,
.NavMenu a:hover {
    color: rgba(255, 255, 255, 0.4);
}

.NavMenu {
    display: none;
}

.Toggle p {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 78vh;
    background: rgba(0, 0, 0, 0.4);
}

.main-message {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Kite One', sans-serif;
    line-height: 3em;
    opacity: 0.8;
    font-weight: regular;
}

.mobile-top {
    display: none;
}

.fa-angle-double-right {
    font-size: 50px;
}

.button.animsition-link {
    color: #fff;
}

footer {
    color: #fff;
    font-size: 10px;
    margin-top: auto;
}

footer p {
    font-family: sans-serif;
    text-align: right;
    padding-right: 20px;
}

/*------------------------------------------------------ローディング画面*/
#loader-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    z-index: 100;
}

#loading {
    position: relative;
    width: 100%;
    height: 100%;
}

#loading img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 255px;
    max-height: 290px;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    margin-top: -128px;
}


/* 600px〜959px：タブレット------------------------------ */
@media screen and (max-width:959px) {
    .nav-item {
        display: none;
    }

    .container {
        height: 87vh;
    }

    .main-message {
        text-align: right;
        font-size: 13px;
    }

    /*ナビメニューのスタイルを指定*/
    nav.NavMenu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-family: suburban, sans-serif;
        text-align: center;
        width: 100%;
        transform: translateY(-100%);
        transition: all 0.6s;
        display: inline-block;
        font-size: 20px;
    }

    nav.NavMenu a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
    }

    nav.NavMenu span {
        padding: 0 15px 23px;
        text-align: center;
    }


    nav.NavMenu ul {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        margin: 0 auto;
        padding: 0;

    }

    nav.NavMenu ul li {
        font-size: 1.1em;
        list-style-type: none;
        padding: 0;
        width: 100%;
        border-bottom: 1px dotted #333;
    }

    nav.NavMenu ul li:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    nav.NavMenu ul li {
        display: block;
        color: #FFF;
        padding: 1em 0;
        text-decoration: none;
    }

    nav.NavMenu.active {
        transform: translateY(0%);
    }

    .Toggle {
        display: block;
        border: 2px solid #f0f0f0;
        border-radius: 50%;
        color: #f0f0f0;
        position: fixed;
        right: 13px;
        top: 22px;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 3;
    }

    .Toggle span {
        display: block;
        position: absolute;
        width: 25px;
        border-bottom: solid 3px #f0f0f0;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        left: 8px;
    }

    .Toggle span:nth-child(1) {
        top: 9px;
    }

    .Toggle span:nth-child(2) {
        top: 18px;
    }

    .Toggle span:nth-child(3) {
        top: 27px;
    }

    .Toggle.active span:nth-child(1) {
        top: 18px;
        left: 8px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .Toggle p {
        display: block;
        font-family: suburban, sans-serif;
        font-size: 16px;
        position: fixed;
        top: -10px;
        right: 19px;
        z-index: 3;
    }

    nav.NavMenu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        color: #fff;
        font-family: suburban, sans-serif;
        text-align: center;
        width: 100%;
        transform: translateY(-100%);
        transition: all 0.6s;
        display: inline-block;
        font-size: 20px;
    }

    nav.NavMenu a {
        color: #fff;
        text-align: center;
        text-decoration: none;
    }

    nav.NavMenu span {
        padding: 0 15px 23px;
        text-align: center;
    }

    nav.NavMenu ul {
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        margin: 0 auto;
        padding: 0;

    }

    nav.NavMenu ul li {
        font-size: 1.1em;
        list-style-type: none;
        padding: 0;
        width: 100%;
        border-bottom: 1px dotted #333;
    }

    nav.NavMenu ul li:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    nav.NavMenu ul li {
        display: block;
        color: #FFF;
        padding: 1em 0;
        text-decoration: none;
    }

    nav.NavMenu.active {
        transform: translateY(0%);
    }

    .Toggle {
        display: block;
        border: 2px solid #f0f0f0;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        right: 13px;
        top: 22px;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 3;
    }

    .Toggle span {
        display: block;
        position: absolute;
        width: 25px;
        border-bottom: solid 3px #fff;
        transition: .35s ease-in-out;
        left: 8px;
    }

    .Toggle span:nth-child(1) {
        top: 9px;
    }

    .Toggle span:nth-child(2) {
        top: 18px;
    }

    .Toggle span:nth-child(3) {
        top: 27px;
    }

    .Toggle.active span:nth-child(1) {
        top: 18px;
        left: 8px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .Toggle p {
        display: block;
        font-family: suburban, sans-serif;
        font-size: 16px;
        position: absolute;
        top: -35px;
        right: 4px;
    }
}

/* 480px〜599px----------------------------------------- */
@media screen and (min-width:0) and (max-width:599px) {
    .header {
        height: 70px;
    }

    .nav-item {
        display: none;
    }

    .header-logo {
        width: 90%;
        text-align: center !important;
    }

    .container {
        height: 78vh;
    }

    .main-message {
        text-align: right;
        padding: 0 10px;
        font-size: 11px;
    }

    .mobile-top {
        display: block;
    }

    .pc-top {
        display: none;
    }

    footer p {
        text-align: center;
        padding-right: 0;
    }

}

/*スマホ横向き----------------------------------------- */
@media only screen and (orientation:landscape) and (max-width:896px) and (min-width:568px) {

    .main-message {
        font-size: 13px;
    }
}

/* 960px〜1279px：小型PC
 ------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {


    .container {
        height: 90vh;
    }

    .main-message {
        font-size: 20px;
        padding-right: 20px;
        text-align: right;
    }

    footer p {
        text-align: center;
        padding-right: 0;
    }
}
